*{
    margin: 0;
    padding: 0;
}
.container{
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.ocean{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 220px;
    width: 100%;
}
.water{
    height: 100%;
    position: absolute;
    right: 0;
    animation: water 7s linear infinite;
}
@keyframes water{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(1000px);
    }
}
.boat{
    position: absolute;
    left: 50%;
    bottom: 28%;
    transform: translateX(-50%);
}
.boat img{
    width: 350px;
    -webkit-box-reflect: below 0 linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.6));
    animation: boat 1s linear infinite;
}
@keyframes boat{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-2deg);
    }
}
.cloud{
    position: absolute;
    top: 0;
    bottom: 0;
}
.cloud img{
    height: 40%;
    animation: cloud 3s linear infinite;
}
@keyframes cloud{
    0%{
        transform: translateX(-250px);
    }
    100%{
        transform: translateX(200px);
    }
}